* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
  /* outline: 1px solid red; */
}

/* top-navbar */
header {
}
.main-background {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  width: 100%;
}

.main-nav {
  max-width: 1100px;
  margin: auto;
}
.main-nav ul {
  height: 48px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav li {
  /* margin: 10px 0px; */
  font-size: 12px;
  line-height: 3.6;
  font-weight: 400;
  padding: 0 8px;
  opacity: 0.7;
}
.main-nav li:hover {
  opacity: 1;
}
.main-nav li i {
  font-size: 18px;
}

// sticky-header
.sticky-header{
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.72);
}
.sticky-header .inner{
  max-width:1100px;
  margin:auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 5px;
}
.inner ul{
  list-style:none;
  display:flex;
  justify-content:space-evenly;
}
.inner ul li{
  line-height: 2;
  margin: 7px 15px;
}
.inner button{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0071e3;
  color: #fff;
  border-radius: 980px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  padding: 4px 11px;
  border:none;
}

