* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
  /* outline: 1px solid red; */
}

/* top-navbar */
header {
}
.main-background {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  width: 100%;
}

.main-nav {
  max-width: 1100px;
  margin: auto;
}
.main-nav ul {
  height: 48px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav li {
  /* margin: 10px 0px; */
  font-size: 12px;
  line-height: 3.6;
  font-weight: 400;
  padding: 0 8px;
  opacity: 0.7;
}
.main-nav li:hover {
  opacity: 1;
}
.main-nav li i {
  font-size: 18px;
}

// sticky-header
.sticky-header {
  position: sticky;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  max-width: 1100px;
  
}

.sticky-header .title{
  font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}
